.questionario-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--header-height);
}

.questionario-page p {
 color : lightgray;
 font-size: 1.2rem;
}

.questionario-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.progress-bar-container {
    position: sticky;
    top: 0;
    left: 0;
  width: 90%;
  height: 8px;
  background-color: #e6e6e6;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.progress-bar-fill {
  height: 100%;
  background-color: var(--color-primary);
  width: 0%;
  transition: width 0.3s ease-in-out;
}


.questionnaire-heading {
 
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.questionnaire-heading h1 {
    color : var(--color-primary);
    letter-spacing: 2px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.questionnaire-heading h2 {
    color : var(--color-accent);
    letter-spacing: 2px;
    padding-bottom: 10px;
    padding-top: 10px;
    
}
.questionnaire-heading h3 {
    color : grey;
    letter-spacing: 2px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.questionnaire-heading p {
    color : grey;
}



.questionario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
}

